@import "tailwindcss";

*{
    box-sizing: border-box;
    padding: 0%;
    font-family: "Google Sans", sans-serif;
    margin: 0%;
}


/* Specific utility to hide scrollbars */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}